
@import "bootstrap";
@import "font-awesome";

a:hover {
  text-decoration: none;
}

.sign-out {
  color: #fff;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.app-btn {
  padding: 7px 45px;
  font-size: 18px;
  text-transform: uppercase;
  margin: 20px 0;
}

.back-btn {
  margin-right: 30px;
}

.mobile-span, .mobile-table {
  display: none;
}

.form-wrapper {
  margin-top: 40px;
  width: 45%;
}

.icon {
  color : #212529;
  font-size: 25px;
}

.field_with_errors {
  display: inline;
}

table td {
  vertical-align: unset;
  text-align: center;
}

table th {
  text-align: center;
}

.header, .show-header {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.error-div {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}

.sign-in-button {
  border: none;
  border-radius: 23px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.1);
  cursor: pointer;
  background-color: #EA4A72;
  padding: 15px 45px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 28px;
  min-width: 180px;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  transition: opacity .2s;
  user-select: none;
  color: #ffffff;
}

.submit-p {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.sign-in-button-wrapper {
  margin-top: 50px;
}

.menu-item {
  color :#fff;
  margin: 0 10px;
}

.menu-img {
  width: 50px;
  border-radius: 50%;
  margin: 10px;
}

.min-rate, .loss {
  color : #ff4d4d;
}

.max-rate, .profit {
  color :  #00cc44;
}

.min-rate, .max-rate {
  font-weight: 600;
}

.neutral {
  color: black
}

.table-wrapper {
  margin: 20px 0;
}

table {
  margin: 30px 0;
}

.no-rates {
  font-weight: 600;
  font-size: 18px;
  margin: 20px 0;
}

.show-wrapper {
  display: flex;
  flex-direction: column;
}

.show-header {
  margin-top: 100px;
}

.home-mobile {
  display: none;
}

.rates-header {
  text-align: center;
}


@media (max-width: 699px) {
  .mobile-span {
    display: inline-block;
    width: 45%;
    font-weight: 600;
    float: left;
  }

  .full-table {
    display: none;
  }

  h2 {
    text-align: center;
  }

  .mobile-table {
    display: block;
  }
  .show-wrapper {
    flex-direction: column-reverse;
  }

  .show-header {
    margin-top: 50px;
  }

  .table-header {
    display: none;
  }

  .tableRow {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 7px;
  }

  .table td {
    border: none;
  }

  .tableRow:nth-child(2n+1) {
    background-color: #f3f3f1;
  }

  .form-wrapper {
    width: 100%;
  }

  tr {
    height: unset;
  }

  .app-button, .app-btn {
    width: 100%;
    margin-bottom: 25px;
  }

  .edit-new-header {
    text-align: inherit;
  }
}

@media (max-width: 991px) {
  nav {
    font-size: 20px;
  }

  .main-menu-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    text-align: center;
  }

  .home-full {
    display: none;
  }

  .home-mobile {
    display: inline;
    color:#FFF;
    margin-top: 35px;
  }
}
