/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap";


.app-btn {
  padding: 7px 45px;
  font-size: 18px;
  text-transform: uppercase;
  margin: 20px 0;
}

.sign-in-button {
  border: none;
  border-radius: 23px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.1);
  cursor: pointer;
  background-color: #EA4A72;
  padding: 15px 45px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 28px;
  min-width: 180px;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  transition: opacity .2s;
  user-select: none;
  color: #ffffff;
}

.sign-in-button :hover {
  background-color: red;
}

.submit-p {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.sign-in-button-wrapper {
  margin-top: 50px;
}

.menu-item {
  color :#fff;
  margin: 0 10px;
}

.menu-img {
  width: 50px;
  border-radius: 50%;
  margin: 10px;
}