
@import "bootstrap";
@import "font-awesome";

a:hover {
  text-decoration: none;
}

.sign-out {
  color: #fff;
}

.app-btn {
  padding: 7px 45px;
  font-size: 18px;
  text-transform: uppercase;
  margin: 20px 0;
}

.back-btn {
  margin-right: 30px;
}


.form-wrapper {
  margin-top: 40px;
}

.icon {
  color : #212529;
  font-size: 25px;
}

table td {
  vertical-align: unset;
  text-align: center;
}

table th {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.sign-in-button {
  border: none;
  border-radius: 23px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.1);
  cursor: pointer;
  background-color: #EA4A72;
  padding: 15px 45px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 28px;
  min-width: 180px;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  transition: opacity .2s;
  user-select: none;
  color: #ffffff;
}

.submit-p {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.sign-in-button-wrapper {
  margin-top: 50px;
}

.menu-item {
  color :#fff;
  margin: 0 10px;
}

.menu-img {
  width: 50px;
  border-radius: 50%;
  margin: 10px;
}

.min-rate, .loss {
  color : #ff4d4d;
}

.max-rate, .profit {
  color :  #00cc44;
}

.min-rate, .max-rate {
  font-weight: 600;
}

.neutral {
  color: black
}

.table-wrapper {
  margin: 20px 0;
}

table {
  margin: 30px 0;
}

.no-rates {
  font-weight: 600;
  font-size: 18px;
  margin: 20px 0;
}
